<div class="fieldset">

    <div class="grid-row">
        <div class="grid-33">
            <label for="name" title="{{ 'group.name' | trans }}">{{ 'group.name' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="name" placeholder="{{ 'input.required' | trans }}" v-model="values.name">
            <p class="attention">${ errors.name }</p>
        </div>
    </div>

    <div class="grid-row">
        <div class="grid-33">
            <label for="description" title="{{ 'group.description' | trans }}">{{ 'group.description' | trans }}:</label>
        </div>
        <div class="grid-66">
            <input class="grid-100 mobile-grid-100" type="text" id="description" v-model="values.description">
            <p class="attention">${ errors.description }</p>
        </div>
    </div>

    {% if group is not defined %}

        <div class="grid-row">
            <div class="grid-33">
                <label for="project" title="{{ 'project' | trans }}">{{ 'project' | trans }}:</label>
            </div>
            <div class="grid-66">
                <select class="grid-100 mobile-grid-100" id="project" v-model="values.project">
                    <option value="">{{ 'group.global' | trans }}</option>
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.name }}</option>
                    {% endfor %}
                </select>
                <p class="attention">${ errors.project }</p>
            </div>
        </div>

    {% endif %}

</div>
