{% macro item(title, icon) %}
    <i class="fa {{ icon }}" aria-hidden="true" title="{{ title | trans }}"></i>
    <span>{{ title | trans }}</span>
{% endmacro %}

{% import _self as menu %}

<nav v-cloak>
    <div class="grid-container grid-parent">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <div class="hide-on-mobile">
                <span class="logo"><a href="{{ path('homepage') }}"><img alt="eTraxis" src="{{ asset('etraxis.svg') }}"></a></span>
                <span class="username">{{ app.user.fullname ?? null }}</span>
            </div>
        {% endif %}

        <div class="hide-on-desktop">
            <span class="bars" @click="toggleMenu"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></span>
            <span class="logo"><a href="{{ path('homepage') }}"><img alt="eTraxis" src="{{ asset('etraxis.svg') }}"></a></span>
            <span class="title">{{ title ?? 'eTraxis' }}</span>
        </div>

        <div class="menu {{ is_granted('IS_AUTHENTICATED_REMEMBERED') ? null : 'hide-on-desktop' }}" :class="{ 'hide-on-mobile': isMenuHidden }">

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                {# Menu for unauthenticated user #}
                <a href="{{ path('login') }}">{{ menu.item('button.login', 'fa-sign-in') }}</a>
            {% elseif app.request.uri starts with url('admin') %}
                {# Admin area menu #}
                <a href="{{ path('homepage') }}">{{ menu.item('button.back', 'fa-reply') }}</a>
            {% else %}
                {# Public area menu #}
                <a href="{{ path('settings') }}">{{ menu.item('menu.settings', 'fa-sliders') }}</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}">{{ menu.item('menu.administration', 'fa-cog') }}</a>
                {% endif %}
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a href="{{ path('logout') }}" @click.prevent="logout">{{ menu.item('button.logout', 'fa-sign-out') }}</a>
            {% endif %}

        </div>

    </div>
</nav>
