{% extends 'base.html.twig' %}

{% set title = 'users' | trans %}

{% block content %}

    <div class="grid-row" id="vue-users" v-cloak>
        <div class="grid-100">

            <datatable ref="users" name="users" :columns="columns" :data="users" @check="onCheck" @click="viewUser">
                {% if can.create %}
                    <button class="fa fa-plus" title="{{ 'button.create' | trans }}" @click="showNewUserDialog"></button>
                {% endif %}
                <span class="buttonset">
                    <button class="fa fa-lock" title="{{ 'button.disable' | trans }}" :disabled="checked.length === 0" @click="disableUsers"></button>
                    <button class="fa fa-unlock-alt" title="{{ 'button.enable' | trans }}" :disabled="checked.length === 0" @click="enableUsers"></button>
                </span>
            </datatable>

            <dlg-user ref="dlgUser" :header="i18n['user.new']" :default="values" :errors="errors" @submit="createUser"></dlg-user>

        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script>eTraxis.currentUser     = {{ app.user.id | json_encode | raw }};</script>
    <script>eTraxis.locales         = {{ locales     | json_encode | raw }};</script>
    <script>eTraxis.themes          = {{ themes      | json_encode | raw }};</script>
    <script>eTraxis.timezones       = {{ timezones   | json_encode | raw }};</script>
    <script>eTraxis.defaultLocale   = {{ locale      | json_encode | raw }};</script>
    <script>eTraxis.defaultTheme    = {{ theme       | json_encode | raw }};</script>
    <script>eTraxis.defaultTimezone = {{ timezone    | json_encode | raw }};</script>

    <script src="{{ asset('js/users/index.js') }}"></script>

{% endblock %}
