<div class="grid-50 mobile-grid-100">
    <div class="grid-row">
        <div class="fieldset">
            <div class="legend">{{ 'state.transitions' | trans }}</div>
            <div class="grid-row">
                <div class="grid-100">
                    <select class="grid-100 mobile-grid-100" size="20" v-model="transition">
                        <option v-for="state in states" :value="state.id">${ state.title }</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-50 mobile-grid-100">

    <div class="grid-row">
        <div class="fieldset">
            <div class="legend">{{ 'roles' | trans }}</div>
            <div class="grid-row">
                {% for role, prompt in system_roles %}
                    <div class="grid-100">
                        <label title="{{ prompt | trans }}" :class="{ 'disabled': !state.options['state.transitions'] || !transition }">
                            <input type="checkbox" value="{{ role }}" :disabled="!state.options['state.transitions'] || !transition" v-model="roles">
                            <span>{{ prompt | trans }}</span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="fieldset">
            <div class="legend">{{ 'group.local_groups' | trans }}</div>
            <div class="grid-row">
                <div v-for="group in localGroups" class="grid-100">
                    <label :title="group.name" :class="{ 'disabled': !state.options['state.transitions'] || !transition }">
                        <input type="checkbox" :value="group.id" :disabled="!state.options['state.transitions'] || !transition" v-model="groups">
                        <span>${ group.name }</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-row">
        <div class="fieldset">
            <div class="legend">{{ 'group.global_groups' | trans }}</div>
            <div class="grid-row">
                <div v-for="group in globalGroups" class="grid-100">
                    <label :title="group.name" :class="{ 'disabled': !state.options['state.transitions'] || !transition }">
                        <input type="checkbox" :value="group.id" :disabled="!state.options['state.transitions'] || !transition" v-model="groups">
                        <span>${ group.name }</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div v-if="isLocked" class="grid-row">
        <button :disabled="!state.options['state.transitions'] || !transition" @click="saveTransition">{{ 'button.save' | trans }}</button>
        <button :disabled="!state.options['state.transitions'] || !transition" @click="selectAllTransition">{{ 'button.select_all' | trans }}</button>
    </div>
    <div v-else class="grid-row">
        <button disabled title="{{ 'template.must_be_locked' | trans }}">{{ 'button.save' | trans }}</button>
        <button disabled title="{{ 'template.must_be_locked' | trans }}">{{ 'button.select_all' | trans }}</button>
    </div>

</div>

<div class="clear"></div>
